# API Keys
LISTENNOTES_API_KEY=your_listennotes_api_key_here

# Database (Main DB)
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db_name
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
TEST_DATABASE_URL=${DATABASE_URL}
PROD_DATABASE_URL=${DATABASE_URL}

# AI DB
AI_DB_USER=your_ai_db_user
AI_DB_PASSWORD=your_ai_db_password
AI_DB_NAME=your_ai_db_name
AI_DATABASE_URL=postgresql://${AI_DB_USER}:${AI_DB_PASSWORD}@ai_db:5432/${AI_DB_NAME}

# AI Container
BACKEND_URL=http://backend:8000
PYTHONPATH=/app
PODVERSE_BACKEND_PATH=/app/backend/app

# Ollama model directory (Windows path or relative)
OLLAMA_MODEL_PATH=C:/Users/your_user/.ollama
