# 🎧 API Keys
LISTENNOTES_API_KEY=your_listennotes_api_key_here

# 🌱 Flask Environment
FLASK_ENV=development

# 🐘 Database (Main DB)
POSTGRES_USER=podverse_admin
POSTGRES_PASSWORD=testtest
POSTGRES_DB=podverse_db
DATABASE_URL=postgresql://podverse_admin:testtest@database:5432/podverse_db